<h1>Auto (pixels)</h1>
<p>
  {{input autoresize=true max-width=220}}<br>
  <input class="px-units" disabled/>
  <br>
  {{textarea autoresize=true max-height=150}}<textarea class="px-units" disabled></textarea>
</p>

<h1>Pixels</h1>
<p>
  {{input autoresize=true max-width='220px'}}<br>
  <input class="px-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='150px'}}<textarea class="px-units" disabled></textarea>
</p>

<h1>em</h1>
<p>
  {{input autoresize=true max-width='12em'}}<br>
  <input class="em-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='5em'}}<textarea class="em-units" disabled></textarea>
</p>

<h1>vw / vh</h1>
<p>
  {{input autoresize=true max-width='100vw'}}<br>
  <input class="vw-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='10vh'}}<textarea class="vh-units" disabled></textarea>
</p>

<h1>Inches</h1>
<p>
  {{input autoresize=true max-width='2in'}}<br>
  <input class="in-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='3in'}}<textarea class="in-units" disabled></textarea>
</p>

<h1>Centimeters</h1>
<p>
  {{input autoresize=true max-width='50mm'}}<br>
  <input class="mm-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='30mm'}}<textarea class="mm-units" disabled></textarea>
</p>
