<style>
  html, body {
    margin: 0;
  }

  .ember-text-area.ember-auto-resize {
    display: inline-block;
    vertical-align: top;
  }

  input {
    box-sizing: border-box;
  }

  input.em-units,
  input.px-units,
  input.vw-units,
  input.in-units,
  input.mm-units {
    background: #d8377f;
    height: 9px;
    border: 2px solid #d8377f;
  }
  input.em-units {
    width: 12em;
  }
  input.px-units {
    width: 220px;
  }
  input.vw-units {
    width: 100vw;
  }
  input.in-units {
    width: 2in;
  }
  input.mm-units {
    width: 50mm;
  }

  textarea.em-units,
  textarea.px-units,
  textarea.vh-units,
  textarea.in-units,
  textarea.mm-units {
    background: blue;
    width: 5px;
    border: 1px solid blue;
    resize: none;
  }
  textarea.em-units {
    height: 5em;
  }
  textarea.px-units {
    height: 150px;
  }
  textarea.vh-units {
    height: 10vh;
  }
  textarea.in-units {
    height: 3in;
  }
  textarea.mm-units {
    height: 30mm;
  }
</style>

<h1>Pixels</h1>
<p>
  {{input autoresize=true max-width='220px'}}<br>
  <input class="px-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='150px'}}<textarea class="px-units" disabled></textarea>
</p>

<h1>em</h1>
<p>
  {{input autoresize=true max-width='12em'}}<br>
  <input class="em-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='5em'}}<textarea class="em-units" disabled></textarea>
</p>

<h1>vw / vh</h1>
<p>
  {{input autoresize=true max-width='100vw'}}<br>
  <input class="vw-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='10vh'}}<textarea class="vh-units" disabled></textarea>
</p>

<h1>Inches</h1>
<p>
  {{input autoresize=true max-width='2in'}}<br>
  <input class="in-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='3in'}}<textarea class="in-units" disabled></textarea>
</p>

<h1>Centimeters</h1>
<p>
  {{input autoresize=true max-width='50mm'}}<br>
  <input class="mm-units" disabled/>
  <br>
  {{textarea autoresize=true max-height='30mm'}}<textarea class="mm-units" disabled></textarea>
</p>
