<header>
  <h1>ember-autoresize</h1>
  <p>An ember-cli addon for autoresizing elements.</p>
</header>

<section>
  <h2>Installation</h2>
  <pre>
ember install ember-autoresize
  </pre>
</section>

<section>
  <h2>Usage</h2>
  <p>To add autoresizing to an \{{input}}, set autoresize to true:</p>
  <pre>
\{{input type="text" autoresize=true}}
  </pre>
  <p>You may then specify the maximum width that the input may resize to by setting the max-width property.</p>
</section>

<section>
  <h2>Usage</h2>
  <p>To add autoresizing to an \{{input}}, set autoresize to true:</p>
  <pre>
&lt;label for="pie-name"&gt;Pie Name&lt;/label&gt;
\{{input id="pie-name" value=name autoresize=true max-width=200}}
&lt;br&gt;&lt;br&gt;
&lt;label for="pie-recipe"&gt;Recipe&lt;/label&gt;
\{{textarea id="pie-recipe" value=recipe autoresize=true max-rows=4}}
  </pre>
  <label for="pie-name">Pie Name</label>
  {{input id="pie-name" value=name autoresize=true max-width=200}}
  <br><br>
  <label for="pie-recipe">Recipe</label>
  {{textarea id="pie-recipe" value=recipe autoresize=true max-rows=4}}
</section>
