<header>
  <h1>ember-autoresize</h1>
  <p>An ember-cli addon for autoresizing elements.</p>
</header>

<section>
  <h2>Installation</h2>
  <pre>ember install ember-autoresize</pre>
</section>

<section>
  <h2>Usage</h2>
  <p>To add autoresizing to an \{{input}}, set autoresize to true:</p>
  {{code-snippet name="input.hbs"}}
  <p>You may then specify the maximum width that the input may resize to by setting the max-width property.</p>
</section>

<section>
  <h2>Usage</h2>
  <p>To add autoresizing to an \{{input}}, set autoresize to true:</p>
  {{code-snippet name="example.hbs"}}
  <form>
{{! BEGIN-SNIPPET example}}
  <label for="pie-name">Pie Name</label>
  {{input id="pie-name" value=name autoresize=true max-width=200}}
  <br><br>
  <label for="pie-recipe">Recipe</label>
  {{textarea id="pie-recipe" value=recipe autoresize=true max-rows=4}}
{{! END-SNIPPET}}
  </form>
</section>
